body{
    background-color: white;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;


}
li{
    float: left;
}
li a{
    padding: 20px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}
li a:hover{
    background-color: black;

}
